/* CSS reset  */

*{
    margin: 0;
    padding: 0;

}


/* css variables */

:root{
    --navbar-height: 47px;
}


/* Navigation Bar */


/* Navigation bar: Logo and Image  */
#logo{
margin: 5px 5px;
}
#logo img{
    margin: 5px 5px;
    height: 100px;
}



/* Navigation bar: List Styling */


#navbar{
    position: absolute;
    display: flex;
    width: 100%;
    }

#navbar ul{
    display: flex;
    width: 100%;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    margin-top: 40px;
list-style: none;
    font-size: 1.5rem;
    margin-left: 30px;

}

#navbar ul li a{
  color: white;
   text-decoration: none;
        padding: 3px 20px;
        display: block;
        border-radius: 20px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    #navbar ul li a:hover{
        background-color: white;
        color: black;
          }
      
/* Home Section  */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 585px;
    align-items: center;
    padding: 3px 200px;

}

#home::before{
    content: "";
    background: url('img/bg.jpg') no-repeat center center/cover;
    height: 169%;
    width: 100%;
    position: absolute;
    
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.9rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/* Service Section  */

#services{
    display: flex;
            margin: 34px;
      
          
}

#services .box{
    border: 4px solid rgb(16, 242, 5);
padding: 20px;
margin: 0px 10px 10px 10px;
border-radius: 24px;
background-color: rgb(233, 217, 217);
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* Client Section  */

#client-section{
  position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/clients.jpg') no-repeat center center/cover ;
    z-index: -1;
    opacity: 0.9;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

#clients img{
   height: 150px;
}

/* Contact Section  */

#contact{
    position: relative;
 
}


#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('img/contact\ us.jpg') no-repeat center center/cover;
    opacity: 0.7;
    z-index: -1;
}


#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}


#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
    font-size: 20px;
}


/* Utility Class  */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: sans-serif;
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.btn{
    margin: 20px;
    background-color: rgb(203, 199, 199);
    color: black;
    padding: 6px 20px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.center{
    text-align: center;
}
