/* CSS reset  */

*{
    margin: 0;
    padding: 0;
    background-color: yellow;
}


/* css variables */

:root{
    --navbar-height: 59px;
}


/* Navigation Bar */


/* Navigation bar: Logo and Image  */
#logo{
margin: 5px 5px;
}
#logo img{
    margin: 5px 5px;
    height: 100px;
}



/* Navigation bar: List Styling */


#navbar{
    position: relative;
    display: flex;
    }

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    margin-top: 40px;
list-style: none;
    font-size: 1.5rem;
    margin-left: 30px;
}

#navbar ul li a{
  color: white;
   text-decoration: none;
        padding: 3px 20px;
        display: block;
        border-radius: 20px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    #navbar ul li a:hover{
        background-color: white;
        color: black;
          }
      
/* Home Section  */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 633px;
    align-items: center;
    padding: 3px 200px;
}

#home::before{
    content: "";
    background: url('img/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/* Service Section  */

#services{
    display: flex;
            margin: 34px;
          
}

#services .box{
    border: 2px solid white;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}


/* Utility Class  */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: sans-serif;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    margin: 20px;
    background-color: rgb(203, 199, 199);
    color: black;
    padding: 6px 20px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.center{
    text-align: center;
}
